{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card" id="product" data-id="{{ product.id }}">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="{{ asset('images/profil/' ~ product.picture) }}" alt="photo article"
                                     title="photo article" class="cardPic">
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>{{ product.productName }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        {% if product.description == null %}
                                            <p>Pas de description disponible pour ce produit</p>
                                        {% else %}
                                            <p>{{ product.description }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="h2">Commentaires</p>
            </div>
        </div>
        <div id="app" data-connectUSer="{{ app.user.id }}">

            <div v-for="comment in info" :key="comment.id">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p>Par : ${comment.user.email}</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p>Le : ${comment.date | formatDate('DD/MM/YYYY')}</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p v-if="comment.edit">Modifié le : ${ comment.edit | formatDate('DD/MM/YYYY') }</p>
                                    </div>
                                    <div class="col-sm-2" v-if="{{ app.user.id }} === comment.user.id">
                                        <button class="btn btn-primary" v-on:click="editComment(comment)"><i
                                                    class="fas fa-marker"></i></button>
                                    </div>
                                    <div class="col-sm-2" v-if="{{ app.user.id }} === comment.user.id">
                                        <button class="btn btn-danger" data-toggle="modal" :data-target="'#modal' + comment.id"><i class="fas fa-trash-alt"></i></button>

                                        <div class="modal fade" :id="'modal' + comment.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Attention !!!</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Voulez supprimer ce commentaire ?</p>
                                                        <p>Cette action sera irreversible.</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                        <button type="button" class="btn btn-danger" @click="deleteComment(comment)" data-dismiss="modal">Supprimer le commentaire</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row" v-if="!comment.editing">
                                    <div class="col-sm-12">
                                        <p>${ comment.content }</p>
                                    </div>
                                </div>
                                <div class="row" v-else>
                                    <div class="col-sm-12">
                                        <form action="" v-on:submit.prevent="validEdit(comment)">
                                            <div class="form-group">
                                                <label for="content"></label>
                                                <textarea type="text" name="content" id="content" class="form-control"
                                                          v-model="comment.content"
                                                          v-focus>${ comment.content }</textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary" @click="" id="comment"
                                                    :data-id="comment.id">Valider
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <p class="h2">Ajouter un commentaire</p>
                    <form action="" v-on:submit.prevent="validNewComment()">
                        <div class="form-group">
                            <label for="addComment"></label>
                            <textarea type="text" name="content" id="addComment" class="form-control"
                                      v-model="addComment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}